<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>CMS</display-name>
  <servlet>
    <servlet-name>usersServlet</servlet-name>
    <servlet-class>ua.demo.servlet.admin.UsersServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>mainServlet</servlet-name>
    <servlet-class>ua.demo.servlet.MainServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>postServlet</servlet-name>
    <servlet-class>ua.demo.servlet.PostServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>postTagServlet</servlet-name>
    <servlet-class>ua.demo.servlet.PostTagServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>archiveServlet</servlet-name>
    <servlet-class>ua.demo.servlet.ArchiveServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>ua.demo.servlet.SearchServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>archiveDateServlet</servlet-name>
    <servlet-class>ua.demo.servlet.ArchiveDateServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>ua.demo.servlet.admin.AdminServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>ua.demo.servlet.admin.UserServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>userUpdateServlet</servlet-name>
    <servlet-class>ua.demo.servlet.admin.UserUpdateServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>userDeleteServlet</servlet-name>
    <servlet-class>ua.demo.servlet.admin.UserDeleteServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>postsListServlet</servlet-name>
    <servlet-class>ua.demo.servlet.admin.PostsListServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>postFormServlet</servlet-name>
    <servlet-class>ua.demo.servlet.admin.PostFormServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>postUpdateServlet</servlet-name>
    <servlet-class>ua.demo.servlet.admin.PostUpdateServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>postDeleteServlet</servlet-name>
    <servlet-class>ua.demo.servlet.admin.PostDeleteServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>ua.demo.servlet.admin.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>ua.demo.servlet.admin.LogoutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>usersServlet</servlet-name>
    <url-pattern>/admin/users</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>mainServlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>postServlet</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>postTagServlet</servlet-name>
    <url-pattern>/tag</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>archiveServlet</servlet-name>
    <url-pattern>/archive</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>archiveDateServlet</servlet-name>
    <url-pattern>/archivedate</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/admin/user</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>userUpdateServlet</servlet-name>
    <url-pattern>/admin/userupdate</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>userDeleteServlet</servlet-name>
    <url-pattern>/admin/userdelete</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>postsListServlet</servlet-name>
    <url-pattern>/admin/postslist</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>postFormServlet</servlet-name>
    <url-pattern>/admin/postform</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>postUpdateServlet</servlet-name>
    <url-pattern>/admin/postupdate</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>postDeleteServlet</servlet-name>
    <url-pattern>/admin/postdelete</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

 <!-- <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
-->
  <!--Server Filter that handles site authorization -->
 <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>ua.demo.filter.AuthorizationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>



</web-app>
